<%= form_tag promobars_url, method: :get do %>

    <div class="col-sm-4">
      <%= text_field_tag 'promobar[name]', nil, class: "form-control", placeholder: "Search a promo bar..." %>
    </div>

    <%= submit_tag 'Search', class: 'btn btn-primary' %>

<% end %>