<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home"
    });
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Promo bars</h3>
  </div>
  <div class="panel-body" style="vertical-align: middle; text-align: center; min-height:350px;">
    <%= link_to 'Manage promo bars', manage_promobars_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
