
    $('<div style="position: absolute; top: 0; width: 100%;' +
        ' color: <%= @header_promobar.text_color %>; background: <%= @header_promobar.background_color %>; ' +
        ' font-size: <%= header_promobar.font_size %>px; text-align: center;">' +
        '<h1><%= @header_promobar.text %><h1/></div>').appendTo('body');





